.Palette {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Palette-colors {
    height: 90%;
}

.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}
.rc-slider-rail {
    height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color:green;
    outline: none;
    border: 2px solid black;
    box-shadow: none;
    width: 13px;
    height: 13px;
    /* margin-left: -7px; */
    margin-top: -3px;
}

.Palette-footer {
    background-color: white;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.Palette-emoji {
    font-size: 1.5rem;
    margin: 0 1rem;

}
